html, body {
  height: 100%;
}

body {
  margin: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  /* font-weight: lighter; */
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  color: #474747;
  text-align: center;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
