body {
  margin: 0;
  font-family: monospace;
  font-weight: bolder;
  font-size: 15rem;
  margin: 5rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ControlButtonsWrapper {
  font-size: 5rem;
}

.ControlButton {
  background: none;
  border: none;
  font-size: inherit;
  outline: none;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

footer {
  font-weight: lighter;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  color: #ababab;
}

@media(max-width: 700px) {
  body {
    margin: 3rem;
    font-size: 13rem;
  }
  .ControlButtonsWrapper {
    font-size: 3rem;
  }
  .ControlButton {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
}

@media(max-width: 600px) {
  body {
    margin: 2rem;
    font-size: 10rem;
  }
}

@media(max-width: 460px) {
  body {
    font-size: 13rem;
  }
  .ControlButtonsWrapper {
    font-size: 2rem;
  }
  .ControlButton {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  .dividerDisplay {
    display: none;
  }
  .minutesDisplay, .secondsDisplay {
    display: block;
  }
  #root {
    line-height: 8rem;
  }
}
